---
type Props = {
  name: string;
  title: string;
  startDate: string;
  endDate: string;
};

const { name, title, startDate, endDate } = Astro.props;
---

<p>{name} - {title} | {startDate} - {endDate}</p>
