---
import '@fontsource/poppins';
import Educations from '../components/Educations.astro';
import WorkExperience from '../components/WorkExperience.astro';
import '../styles.css';

type Props = {
  frontmatter: {
    title: string;
    pdfLink?: string;
    noIndex?: boolean;
    description?: string;
    positions: Array<{
      companyName: string;
      companyUrl: string;
      positionTitle: string;
      startDate: string;
      endDate: string;
      description: {
        paragraphs: string[];
        projects: { title: string; description: string }[];
        skills: { title: string; description: string }[];
      };
    }>;
    educations: {
      name: string;
      title: string;
      startDate: string;
      endDate: string;
    }[];
    languages: {
      name: string;
      level: string;
    }[];
  };
};

const {
  title,
  pdfLink,
  noIndex,
  description,
  positions,
  educations,
  languages,
} = Astro.props.frontmatter;

const initials = title
  .split(' ')
  .map((word) => word[0].toUpperCase())
  .slice(0, 2);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description || title} />
    {noIndex && <meta name="robots" content="noindex" />}
    <title>{title}</title>
    <script
      src="https://kit.fontawesome.com/ac941d3580.js"
      crossorigin="anonymous"></script>
  </head>
  <body class="my-0 bg-indigo-50 dark:bg-slate-900">
    <div class="container mx-auto flex justify-center">
      <article class="minimalist relative">
        <section class="profile">
          <article class="vcard">
            <div class="user-thumb">
              <div class="css-crop" role="figure"></div>
              <div class="overlay"></div>
            </div>
            <div class="user-details">
              <div class="user-title">
                <h1 class="full-name" data-bind="full_name">
                  <span>
                    <span>Serkan Gunes</span>
                  </span>
                </h1><h2 class="title text-sky-500" data-bind="headline">
                  <span>
                    <span> Technology leader, Software architect</span>
                  </span>
                </h2>
              </div>
              <ul class="user-contact">
                <li class="locality" data-bind="location">
                  <i class="fa-solid fa-location-dot icon"></i>
                  <span class="text">Milton Keynes, England, UK</span>
                </li>
                <li class="email" data-bind="email">
                  <i class="fa-regular fa-envelope icon"></i>
                  <a href="mailto:gunesserkan@gmail.com" class="text">
                    gunesserkan@gmail.com
                  </a>
                </li>
              </ul>
              <ul class="user-websites" data-bind="websites">
                <li class="website linkedin">
                  <i class="fa-brands fa-linkedin-in icon"></i>
                  <a
                    class="text"
                    href="https://linkedin.com/in/serkangunes"
                    rel="noreferrer nofollow"
                    target="_blank"
                    >linkedin.com/in/serkangunes
                  </a>
                </li>
                <li class="sc-g6thkz-4 jGelDG website globe">
                  <i class="fa-solid fa-globe icon"></i>
                  <a
                    class="text"
                    href="https://www.techdesigner.co.uk/"
                    rel="noreferrer nofollow"
                    target="_blank"
                    >techdesigner.co.uk
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </section>
        <slot />
        <WorkExperience positions={positions} />
        <Educations educations={educations} />
      </article>
    </div>
    <style></style>
  </body>
</html>
